<launch>
   <param name="use_sim_time" type="bool" value="True" />

   <node pkg="rosbag" type="play" name="rosbag_play" args="--clock -r .05 $(find camera_pose_calibration)/test/camera_pose_cal_regression_data.bag" />

   <include file="$(find camera_pose_calibration)/blocks/calibration_tf_publisher.launch" >
     <arg name="cache_file" value="" />
   </include>

   <include file="$(find camera_pose_calibration)/launch_extrinsics/calibrate_3_camera.launch" >
     <arg name="camera1_ns" value="camera_a/ir" />
     <arg name="camera2_ns" value="camera_b/ir" />
     <arg name="camera3_ns" value="camera_c/rgb" />
     <arg name="headless" value="true" />
   </include>

   <test test-name="test_camera_pose_calibration" pkg="camera_pose_calibration" type="test_camera_pose_calibration.py" time-limit="400" />
</launch>
