<launch>

  <include file="$(find pr2_defs)/launch/upload_pr2.launch"/>

  <node pkg="pr2_calibration_estimation"
        type="pr2_fk_ref"
        name="pr2_fk_ref"/>


  <param name="system" textfile="$(find pr2_calibration_launch)/estimate_params/config_prf/system.yaml" />
  <param name="r_arm_commands" textfile="$(find pr2_calibration_estimation)/test/data/pr2_fk/r_arm.txt" />
  <param name="l_arm_commands" textfile="$(find pr2_calibration_estimation)/test/data/pr2_fk/r_arm.txt" />
  <param name="head_commands" textfile="$(find pr2_calibration_estimation)/test/data/pr2_fk/head.txt" />

  <test test-name="pr2_right_arm_fk_test" pkg="pr2_calibration_estimation" type="pr2_right_arm_fk_unittest.py" />
  <test test-name="pr2_head_fk_test" pkg="pr2_calibration_estimation" type="pr2_head_fk_unittest.py" />

</launch>