<launch>

  <node type="propagate_config_ref_positions.py" pkg="pr2_calibration_propagation" output="screen" name="propagate_config"
        args="$(find pr2_calibration_launch)/estimate_params/config_prf/system.yaml
              $(find pr2_calibration_launch)/results/system3.yaml
              /etc/pr2/urdf/robot_uncalibrated.xml
              $(find pr2_calibration_launch)/results/robot_calibrated.xml" />

</launch>
