<launch>
  <group ns="kinect_A">

    <param name="tf_prefix" value="kinect_a" />
    <include file="$(find image_cb_detector)/openni_node.launch">
      <!-- arg name="openni_device_id" value="A00361805801043A" / -->  <!-- Wim -->
      <!-- arg name="kinect_machine" value="vijay" / -->
    </include>
    <!-- Overriding the frames -->
    <param name="openni_node1/rgb_frame_id" value="kinect_a/openni_rgb_optical_frame" />
    <param name="openni_node1/depth_frame_id" value="kinect_a/openni_depth_optical_frame" />


    <node pkg="image_cb_detector" type="stereo_cb_detector_action" name="stereo_cb_detector" output="screen">
      <remap from="image" to="camera/rgb/image_mono" />
      <remap from="disparity" to="camera/depth/disparity" />
    </node>

    <node pkg="image_cb_detector" type="start_stereo_cb_detector_action.py" name="start_stereo_cb_detector_action" />

  </group>

</launch>