<launch>
  <node type="cameracalibrator.py" pkg="camera_calibration"
        args="--size=7x6 --square=0.108"
        name="calibration_gui" output="screen">
    <remap from="left" to="wide_stereo/left/image_raw" />
    <remap from="right" to="wide_stereo/right/image_raw" />
    <remap from="left_camera/set_camera_info" to="wide_stereo/left/set_camera_info" />
    <remap from="right_camera/set_camera_info" to="wide_stereo/right/set_camera_info" />
  </node>
</launch>