<launch>

  <!--  Copy the monocam pipeline for each of the 4 WGE100 head cams -->
  <include file="$(find pr2_calibration_launch)/capture_data/monocam_pipeline.launch"
           ns="wide_stereo/left" />

  <include file="$(find pr2_calibration_launch)/capture_data/monocam_pipeline.launch"
           ns="wide_stereo/right" />

  <include file="$(find pr2_calibration_launch)/capture_data/monocam_pipeline.launch"
           ns="narrow_stereo/left" />

  <include file="$(find pr2_calibration_launch)/capture_data/monocam_pipeline.launch"
           ns="narrow_stereo/right" />

</launch>
