<launch>

  <param name="robot_description" textfile="/etc/pr2/urdf/robot_calibrated.xml"/>

  <node pkg="pr2_calibration_estimation"
        type="pr2_fk_ref"
        name="pr2_fk_ref"/>

  <param name="system" textfile="$(find pr2_calibration_launch)/results/system3.yaml" />
  <param name="r_arm_commands" textfile="$(find pr2_calibration_estimation)/test/data/pr2_fk/r_arm.txt" />
  <param name="head_commands" textfile="$(find pr2_calibration_estimation)/test/data/pr2_fk/head.txt" />

  <test test-name="pr2_fk_test" pkg="pr2_calibration_estimation" type="pr2_fk_unittest.py" />

</launch>