<launch>
  <node pkg="joint_states_settler" type="joint_states_settler_node"
        name="right_arm_settler" output="screen">

    <param name="joint_name_00" type="string" value="r_shoulder_pan_joint" />
    <param name="joint_tol_00"  type="double" value="0.0" />

    <param name="joint_name_01" type="string" value="r_shoulder_lift_joint" />
    <param name="joint_tol_01"  type="double" value="0.0" />

    <param name="joint_name_02" type="string" value="r_upper_arm_roll_joint" />
    <param name="joint_tol_02"  type="double" value="0.0" />

    <param name="joint_name_03" type="string" value="r_elbow_flex_joint" />
    <param name="joint_tol_03"  type="double" value="0.0" />

    <param name="joint_name_04" type="string" value="r_forearm_roll_joint" />
    <param name="joint_tol_04"  type="double" value="0.0" />

    <param name="joint_name_05" type="string" value="r_wrist_flex_joint" />
    <param name="joint_tol_05"  type="double" value="0.0" />

    <param name="joint_name_06" type="string" value="r_wrist_roll_joint" />
    <param name="joint_tol_06"  type="double" value="0.0" />

  </node>

</launch>