<launch>
  <node type="msg_saver.py" pkg="megacal_estimation" name="cal_saver" output="screen"
        args="camera_calibration megacal_estimation/CameraCalibration /tmp/megacal_cache.bag" />

  <node type="publish_tf.py" pkg="megacal_estimation" name="cal_publisher" output="screen"/>

  <node type="buffer_server" pkg="tf2_ros" name="tf2_buffer_server" output="screen"/>
</launch>