<launch>

  <group ns="calibration_config" clear_params="true">

    <group ns="sensors">
      <param name="all"    textfile="$(find pr2_calibration_launch)/estimate_params/config_pr2_beta/sensors.yaml" />
    </group>

    <group ns="cal_steps">

      <group ns="A - 00 - Estimating Checkerboard Locations">
        <param name="free_params" textfile="$(find pr2_calibration_launch)/estimate_params/config_pr2_beta/free_head_laser_0.yaml" />
        <rosparam>
          sensors:
          - left_arm_chain
          - right_arm_chain
          - tilt_laser
        </rosparam>
        <param name="output_filename" type="string" value="head_laser_0" />
      </group>


      <group ns="A - 01 - Adding Stereocam Locations">
        <param name="free_params" textfile="$(find pr2_calibration_launch)/estimate_params/config_pr2_beta/free_head_laser_1.yaml" />
        <rosparam>
          sensors:
          - narrow_left_rect
          - narrow_right_rect
          - wide_left_rect
          - wide_right_rect
          - tilt_laser
        </rosparam>
        <param name="output_filename" type="string" value="head_laser_1" />
      </group>

      <group ns="A - 02 - Adding Stereo Baselines">
        <param name="free_params" textfile="$(find pr2_calibration_launch)/estimate_params/config_pr2_beta/free_head_laser_2.yaml" />
        <rosparam>
          sensors:
          - narrow_left_rect
          - narrow_right_rect
          - wide_left_rect
          - wide_right_rect
          - tilt_laser
        </rosparam>
        <param name="output_filename" type="string" value="head_laser_2" />
      </group>

      <group ns="A - 03 - Adding Laser Pose">
        <param name="free_params" textfile="$(find pr2_calibration_launch)/estimate_params/config_pr2_beta/free_head_laser_3.yaml" />
        <rosparam>
          sensors:
          - narrow_left_rect
          - narrow_right_rect
          - wide_left_rect
          - wide_right_rect
          - tilt_laser
        </rosparam>
        <param name="output_filename" type="string" value="head_laser_calibrated" />
      </group>

      <group ns="B - 01 - Locking Head Sensors. Estimating Arm Joint Offsets">
        <param name="free_params" textfile="$(find pr2_calibration_launch)/estimate_params/config_pr2_beta/free_arms_only_1.yaml" />
        <rosparam>
          sensors:
          - narrow_left_rect
          - narrow_right_rect
          - wide_left_rect
          - wide_right_rect
          - tilt_laser
          - left_arm_chain
          - right_arm_chain
          - forearm_left_rect
          - forearm_right_rect
        </rosparam>
        <param name="output_filename" type="string" value="system_calibrated" />
      </group>

    </group>

    <param name="initial_system" textfile="$(find pr2_calibration_launch)/estimate_params/config_pr2_beta/system.yaml" />

  </group>

</launch>
