<launch>
  <!-- Hack to create the directory -->
  <param name="mkdir_tmp" command="mkdir -m 777 -p /tmp/pr2_calibration" />
  <param name="mkdir_tmp" command="mkdir -m 777 -p /tmp/pr2_calibration/cb_fail" />

  <param name="narrow_stereo/left/annotated_viewer/filename_format"  type="string" value="/tmp/pr2_calibration/cb_fail/cb_narrow_left_%04i.jpg" />
  <param name="narrow_stereo/right/annotated_viewer/filename_format" type="string" value="/tmp/pr2_calibration/cb_fail/cb_narrow_right_%04i.jpg" />
  <param name="wide_stereo/left/annotated_viewer/filename_format"    type="string" value="/tmp/pr2_calibration/cb_fail/cb_wide_left_%04i.jpg" />
  <param name="wide_stereo/right/annotated_viewer/filename_format"   type="string" value="/tmp/pr2_calibration/cb_fail/cb_wide_right_%04i.jpg" />
  <param name="l_forearm_cam/annotated_viewer/filename_format"       type="string" value="/tmp/pr2_calibration/cb_fail/cb_l_forearm_%04i.jpg" />
  <param name="r_forearm_cam/annotated_viewer/filename_format"       type="string" value="/tmp/pr2_calibration/cb_fail/cb_r_forearm_%04i.jpg" />
  <param name="tilt_laser/laser_cb_viewer/filename_format"           type="string" value="/tmp/pr2_calibration/cb_fail/cb_laser_5x4_%04i.jpg" />
  <param name="tilt_laser_8x6/laser_cb_viewer/filename_format"       type="string" value="/tmp/pr2_calibration/cb_fail/cb_laser_8x6_%04i.jpg" />

  <include file="$(find pr2_calibration_launch)/capture_data/double_stereo_viewer.launch" />

  <include file="$(find pr2_calibration_launch)/capture_data/monocam_viewer.launch"
           ns="l_forearm_cam" />

  <include file="$(find pr2_calibration_launch)/capture_data/monocam_viewer.launch"
           ns="r_forearm_cam" />

  <include file="$(find pr2_calibration_launch)/capture_data/laser_view.launch"
           ns="tilt_laser"/>

  <include file="$(find pr2_calibration_launch)/capture_data/laser_view.launch"
           ns="tilt_laser_8x6"/>

</launch>
