<launch>

 <include file="$(find pr2_calibration_launch)/capture_data/double_stereo_viewer.launch" />

  <include file="$(find pr2_calibration_launch)/capture_data/monocam_viewer.launch"
           ns="l_forearm_cam" />

  <include file="$(find pr2_calibration_launch)/capture_data/monocam_viewer.launch"
           ns="r_forearm_cam" />

  <include file="$(find pr2_calibration_launch)/capture_data/laser_view.launch"
           ns="tilt_laser"/>

  <include file="$(find pr2_calibration_launch)/capture_data/laser_view.launch"
           ns="tilt_laser_8x6"/>

</launch>
