<launch>

  <node type="pr2_exec.py"
        pkg="pr2_calibration_executive"
        name="calibration_exec"
        args="$(find pr2_calibration_launch)/capture_data/samples_pr2_beta $(find pr2_calibration_launch)/capture_data/hardware_config"
        output="screen">

    <remap from="narrow_left_rect/camera_info" to="narrow_stereo/left/camera_info"/>
    <remap from="narrow_left_rect/image_rect"  to="narrow_stereo/left/image_rect"/>
    <remap from="narrow_left_rect/image"       to="narrow_stereo/left/image_raw"/>
    <remap from="narrow_left_rect/features"    to="narrow_stereo/left/features"/>

    <remap from="narrow_right_rect/camera_info" to="narrow_stereo/right/camera_info"/>
    <remap from="narrow_right_rect/image_rect"  to="narrow_stereo/right/image_rect"/>
    <remap from="narrow_right_rect/image"       to="narrow_stereo/right/image_raw"/>
    <remap from="narrow_right_rect/features"    to="narrow_stereo/right/features"/>

    <remap from="wide_left_rect/camera_info" to="wide_stereo/left/camera_info"/>
    <remap from="wide_left_rect/image_rect"  to="wide_stereo/left/image_rect"/>
    <remap from="wide_left_rect/image"       to="wide_stereo/left/image_raw"/>
    <remap from="wide_left_rect/features"    to="wide_stereo/left/features"/>

    <remap from="wide_right_rect/camera_info" to="wide_stereo/right/camera_info"/>
    <remap from="wide_right_rect/image_rect"  to="wide_stereo/right/image_rect"/>
    <remap from="wide_right_rect/image"       to="wide_stereo/right/image_raw"/>
    <remap from="wide_right_rect/features"    to="wide_stereo/right/features"/>

    <remap from="forearm_right_rect/camera_info" to="r_forearm_cam/camera_info"/>
    <remap from="forearm_right_rect/image_rect"  to="r_forearm_cam/image_rect"/>
    <remap from="forearm_right_rect/image"       to="r_forearm_cam/image_raw"/>
    <remap from="forearm_right_rect/features"    to="r_forearm_cam/features"/>

    <remap from="forearm_left_rect/camera_info" to="l_forearm_cam/camera_info"/>
    <remap from="forearm_left_rect/image_rect"  to="l_forearm_cam/image_rect"/>
    <remap from="forearm_left_rect/image"       to="l_forearm_cam/image_raw"/>
    <remap from="forearm_left_rect/features"    to="l_forearm_cam/features"/>

    <remap from="tilt_laser/image_features" to="tilt_laser/laser_checkerboard"/>
    <remap from="tilt_laser/laser_interval" to="tilt_laser/laser_checkerboard_interval"/>
    <remap from="tilt_laser/snapshot"       to="tilt_laser/dense_laser_snapshot"/>
    <remap from="tilt_laser/laser_image"    to="tilt_laser/cb_image"/>
    <remap from="tilt_laser/joint_features" to="tilt_laser/joint_state_features" />

    <remap from="tilt_laser_8x6/image_features" to="tilt_laser_8x6/laser_checkerboard"/>
    <remap from="tilt_laser_8x6/laser_interval" to="tilt_laser_8x6/laser_checkerboard_interval"/>
    <remap from="tilt_laser_8x6/snapshot"       to="tilt_laser_8x6/dense_laser_snapshot"/>
    <remap from="tilt_laser_8x6/laser_image"    to="tilt_laser_8x6/cb_annotated_image"/>
    <remap from="tilt_laser_8x6/joint_features" to="tilt_laser_8x6/joint_state_features" />

  </node>

  <node type="rosrecord" pkg="rosrecord" name="robot_measurement_recorder" output="screen"
        args="-F /tmp/pr2_calibration/cal_measurements robot_measurement">
    <!-- Hack to create the directory -->
    <param name="mkdir_tmp" command="mkdir -m 777 -p /tmp/pr2_calibration" />
  </node>

</launch>
