<launch>

  <node type="interval_intersection_action"
        pkg="interval_intersection"
        name="interval_intersection"
        output="screen">
    <remap from="narrow_left_rect" to="narrow_stereo/left/settled_interval" />
    <remap from="narrow_right_rect" to="narrow_stereo/right/settled_interval" />
    <remap from="wide_left_rect" to="wide_stereo/left/settled_interval" />
    <remap from="wide_right_rect" to="wide_stereo/right/settled_interval" />
    <remap from="head_chain" to="head_chain/settled_interval" />
    <remap from="right_arm_chain" to="right_arm_chain/settled_interval" />
    <remap from="left_arm_chain" to="left_arm_chain/settled_interval" />

    <remap from="interval" to="request_interval" />
  </node>





</launch>