<launch>
    <!-- ImageAnnotator -->
   <node type="image_annotator"
         pkg="laser_cb_detector"
         name="cb_annotator" >
     <remap from="features" to="laser_checkerboard"/>
     <remap from="image" to="cb_image" />
     <remap from="annotated" to="cb_annotated_image" />
   </node>

   <!-- Laser Joint Processor -->
   <node type="laser_joint_processor_node"
          pkg="laser_joint_processor"
          name="laser_joint_processor"  output="screen" >
      <remap from="snapshot" to="dense_laser_snapshot" />
      <remap from="features" to="laser_checkerboard" />
      <remap from="joint_features" to="joint_state_features" />
      <remap from="joint_states" to="/joint_states" />
      <param name="joint_name_00" type="str" value="laser_tilt_mount_joint" />
  </node>

  <!-- prototype projector -->
  <node type="laser_joint_projector_node"
        pkg="laser_joint_projector"
        name="joint_projector">
    <remap from="robot_description" to="/robot_description"/>
  </node>

  <!-- Interval Calc -->
  <node type="laser_interval_calc_node"
        pkg="laser_cb_detector"
        name="laser_interval_calc"
        output="screen" >
    <remap from="snapshot" to="dense_laser_snapshot"/>
    <remap from="features" to="laser_checkerboard"/>
    <remap from="laser_interval" to="laser_checkerboard_interval"/>
  </node>

</launch>
