<launch>

    <node type="robot_cal_tilt_profile.py"
          pkg="pr2_calibration_launch"
          args="laser_tilt_controller"
          name="laser_profile_commander" />

   <node pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters tilt_hokuyo_node" name="tilt_reconfigure">
      <param name="min_ang" type="double" value="-0.829"/>
      <param name="max_ang" type="double" value="0.829"/>
      <param name="intensity" value="true" />
   </node>

   <!-- Dense Laser Snapshotter -->
   <node type="dense_laser_snapshotter"
         pkg="pr2_dense_laser_snapshotter"
         name="dense_laser_snapshotter"
         output="screen" >
       <remap from="scan" to="/tilt_scan"/>
       <remap from="laser_tilt_controller/laser_scanner_signal" to="/laser_tilt_controller/laser_scanner_signal"/>
   </node>

   <include file="$(find pr2_calibration_launch)/capture_data/laser_post_process.launch" ns="tilt_laser"/>
   <include file="$(find pr2_calibration_launch)/capture_data/laser_post_process.launch" ns="tilt_laser_7x6"/>

   <node type="relay" pkg="topic_tools" name="relay_dense_laser"
         args="dense_laser_snapshot tilt_laser/dense_laser_snapshot"/>

   <node type="relay" pkg="topic_tools" name="relay_dense_laser_7x6"
         args="dense_laser_snapshot tilt_laser_7x6/dense_laser_snapshot"/>

   <group ns="tilt_laser">
      <!-- Laser CB Detector -->
      <node type="laser_cb_detector_node"
            pkg="laser_cb_detector"
            name="laser_cb_detector">
        <remap from="snapshot" to="dense_laser_snapshot" />
        <remap from="image" to="cb_image" />

        <param name="num_x" type="int" value="4" />
        <param name="num_y" type="int" value="5" />
        <param name="spacing_x" type="double" value=".108" />
        <param name="spacing_y" type="double" value=".108" />
        <param name="width_scaling" type="int" value="2" />
        <param name="height_scaling" type="int" value="2" />
        <param name="subpixel_window" type="int" value="6" />
        <param name="subpixel_zero_zone" type="int" value="2" />
        <param name="flip_horizontal" type="int" value="1" />
        <param name="min_intensity" type="int" value="2500" />
        <param name="max_intensity" type="int" value="5000" />
      </node>
  </group>

  <group ns="tilt_laser_7x6">
      <!-- Laser CB Detector -->
      <node type="laser_cb_detector_node"
            pkg="laser_cb_detector"
            name="laser_cb_detector">
        <remap from="snapshot" to="dense_laser_snapshot" />
        <remap from="image" to="cb_image" />

        <param name="num_x" type="int" value="7" />
        <param name="num_y" type="int" value="6" />
        <param name="spacing_x" type="double" value=".108" />
        <param name="spacing_y" type="double" value=".108" />
        <param name="width_scaling" type="int" value="2" />
        <param name="height_scaling" type="int" value="2" />
        <param name="subpixel_window" type="int" value="6" />
        <param name="subpixel_zero_zone" type="int" value="2" />
        <param name="flip_horizontal" type="int" value="1" />
        <param name="min_intensity" type="int" value="1500" />
        <param name="max_intensity" type="int" value="3000" />
      </node>
  </group>
</launch>
