<launch>

  <node pkg="polled_camera" type="poller" name="prosilica_poller"
        args="0.5" output="screen">
    <remap from="camera" to="prosilica" />
    <remap from="output" to="prosilica" />
  </node>

  <group ns="prosilica">
    <node pkg="image_proc" type="image_proc" name="image_proc" />

    <node type="image_cb_detector_action_old"
          pkg="image_cb_detector"
          name="cb_detector">
      <remap from="image" to="image_rect" />
    </node>

    <node type="image_annotator"
          pkg="laser_cb_detector"
          name="cb_annotator"
          output="screen">
      <remap from="annotated" to="image_rect_annotated" />
      <remap from="image" to="image_rect" />
      <param name="marker_size" type="int" value="4" />
      <param name="scaling" type="double" value="0.2" />
    </node>

    <node type="monocam_settler_action"
          pkg="monocam_settler"
          name="monocam_settler"
          output="screen">
    </node>
  </group>

</launch>